.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 28px;
	text-align: center;
	flex-direction: column;
}

.error {
	font-size: 18px;
	margin-top: 20px;
}

.error::before {
	content: '[Error]: ';
	color: darkred;
}

.due-date {
	font-size: 18px;
	margin-top: 20px;
	text-decoration: underline;
}
